
<div class="container">
    <div class="row">
        <div class="col mt-3" style="max-width: 600px; margin: 0 auto;">
            <h1 class="display-4">
                Contact Page
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime distinctio ex maiores quia molestiae debitis placeat corrupti dolorem, quae illum necessitatibus sint asperiores repellendus optio ullam animi consequuntur, excepturi vel.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque architecto aperiam, quia ipsa facere tempore necessitatibus nisi hic labore eaque in excepturi dolores ab minima repudiandae delectus distinctio fuga unde?
            </p>
        </div>
    </div>
</div>