<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-in full-height">
    
    <header class="bmd-layout-header">
        <div class="sticky-top navbar navbar-dark bg-faded">
            <div>
                <button class="navbar-toggler btn bmd-btn-icon" type="button" data-toggle="drawer" data-target="#dw-s1">
                    <span class="sr-only">Toggle drawer</span>
                    <i class="material-icons text-light">menu</i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item text-light">Dashboard</li>
            </ul>
        </div>
    </header>

    <div id="dw-s1" class="sidebar bmd-layout-drawer bg-faded d-flex">

        <header>
            <a href="#" class="navbar-brand">
                <img src="./images/oneaffiniti-logo.svg" alt="">
            </a>
        </header>

        <ul class="list-group">
            <li ng-click="ctrl.collapseStatus.customProfiling = !ctrl.collapseStatus.customProfiling">
                <button class="list-group-item pl-3" type="button" data-toggle="collapse" data-target="#customProfiling"
                    aria-expanded="false" aria-controls="#customProfiling">
                    <i class="material-icons mr-2">people</i>
                    <!-- Account Based Opportunities -->
                    Opportunities
                    <i class="material-icons caret">
                        <span ng-show="ctrl.collapseStatus.customProfiling">keyboard_arrow_down</span>
                        <span ng-show="!ctrl.collapseStatus.customProfiling">keyboard_arrow_right</span>
                    </i>
                </button>
            </li>
            <div class="collapse show" id="customProfiling">
                <div class="list-group submenu">
                    <button class="list-group-item pl-5 selected">
                        Summary
                    </button>
                    <button class="list-group-item pl-5">
                        Details
                    </button>
                    <button class="list-group-item pl-5">
                        Guides / Tips
                    </button>
                </div>
            </div>
            <li ng-click="ctrl.collapseStatus.Leads = !ctrl.collapseStatus.Leads">
                <button class="list-group-item pl-3" type="button" data-toggle="collapse" data-target="#Leads"
                    aria-expanded="false" aria-controls="#Leads">
                    <i class="material-icons mr-2">insert_drive_file</i>
                    Leads
                    <i class="material-icons caret">
                        <span ng-show="ctrl.collapseStatus.Leads">keyboard_arrow_down</span>
                        <span ng-show="!ctrl.collapseStatus.Leads">keyboard_arrow_right</span>
                    </i>
                </button>
            </li>
            <div class="collapse" id="Leads">
                <div class="list-group submenu">
                    <button class="list-group-item pl-5">
                        Summary
                    </button>
                    <button class="list-group-item pl-5">
                        Details
                    </button>
                    <button class="list-group-item pl-5">
                        Guides / Tips
                    </button>
                    <button class="list-group-item pl-5">
                        Add Lead
                    </button>
                </div>
            </div>
            <li>
                <button class="list-group-item pl-3" type="button">
                    <i class="material-icons mr-2">person</i>
                    Profile
                </button>
            </li>
        </ul>

    </div>
    <main class="bmd-layout-content">
        <div class="container-fluid dashboard">

            <h3 class="mt-4">Summary</h3>
            <small>Opportunities / Summary</small>

        </div>
    </main>
</div>